.homeContainer{
    height: 100vh;
    width:100vw;
    background-image: url('../images/pastel background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
 
.homeh1tag{
    width: 492px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35%;
  text-align: center;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 115px;
}
.homep1tag{
    top:50%;
    font-size:40px;
    font: Comfortaa;
    text-align: center;
}
.homeButton{}


