.homeContainer{
    height: 100vh;
    width:100vw;
    background-image: url('https://files.slack.com/files-pri/T018GC6BTJQ-F01B274GQN8/pastel_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
 
.h1tag{
    font-size: 5vw;
    font: Comfortaa;
}
.ptag{
    font-size:3vw;
    font: Comfortaa;
}
