.howChild{
    display:flex;
    flex-direction:row;
    height:100vh;
    justify-content: space-around;
}
#myh1{
    font: Comfortaa;
    weight: 700;
    font-size: 4vw;
    margin-left:2vw;
    padding-top:10vh;
}
.flexchild{
    align-self:center;
    height: 80%;

}
#imgTag{
    margin-left: 2vw;
    height:100%;
    width:90%;
    
}
#ptag{
    margin-right: 2vw;
    font-size: 2vw;
}